html, body, div, a, p, article, ul, li, header, nav, footer, img, h4 {
    padding: 0;
    margin: 0;
}

@bg-color: #98d6ff;

body {
    text-align: center;

    #wrapper {
        border: 1px solid black;
        position: relative;
        width: 480px;
        height: 600px;
        background-color: @bg-color;
        background-image: url("../imgs/background.png");
        font-family: sans-serif;

        section {
            display: none;

            &.current-section {
                display: block;
                width: 100%;
                height: 100%;


                ul {
                    background-color: @bg-color;
                    margin-top: 45%;
                    list-style-type: none;
                    width: 100%;

                    .browse-tab-content {
                        display: none;

                        &.current-browse-tab-content {
                            display: block;
                        }
                    }

                    li > span {
                        padding-top: 15px;
                        margin-left: 10%;
                        width: 80%;
                        height: 40px;
                        background: #3095d8;
                        border: 1px solid black;
                        border-radius: 30px;
                        -moz-transition: 0.4s;
                        -o-transition: 0.4s;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;

                        &:hover {
                            background: #52d041;
                            padding-top: 10px;
                            font-size: 30px;
                        }

                        display: block;
                        text-decoration: none;
                        color: white;
                        font-size: 25px;
                    }
                }
            }
        }

        section#my-achievements-section {
            div#grid {
                overflow-y: auto;

                & > div {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    //border: 1px solid black;
                    float: left;
                    width: 33.333%;
                    height: 150px;

                    img {
                        width: 158px;
                        height: 120px;
                    }

                    div {
                        margin-top: 46px;
                    }
                }
            }
        }

        section#browse-section, section#categories-section {
            div.browse-tab-content {
                overflow-x: auto;
                overflow-y: hidden;

                div.browsed-achievements-container {
                    height: 180px;
                    width: 2160px;
                    color: white;

                    div.browsed-achievement {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border: 1px solid black;
                        float: left;
                        height: 180px;
                        padding: 5px;
                        width: 180px;

                        h4.browsed-achievement-title {
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            font-size: 25px;
                            width: 100%;
                            height: 130px;
                            padding-top: 40px;
                        }

                        p.browsed-achievement-author {
                            font-style: italic;
                            font-size: 15px;
                        }
                    }
                }


                div.travel {
                    background: rgb(239,231,0); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(239,231,0,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,231,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe700', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }

                div.health {
                    background: rgb(0,219,0); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(0,219,0,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,219,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00db00', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }

                div.sport {
                    background: rgb(0,46,255); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(0,46,255,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,46,255,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002eff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }

                div.extreme {
                    background: rgb(224,0,138); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(224,0,138,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,0,138,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0008a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }
            }
        }


        section#categories-section {
            #travel-tab-content div.browsed-achievements-container {
                width: 360px;
            }

            #sport-tab-content div.browsed-achievements-container {
                width: 360px;
            }

            #health-tab-content div.browsed-achievements-container {
                width: 720px;
            }
        }

        section#achievement-profile-section {
        }

        section#my-achievement-profile-section {


            img {
                width: 90%;
            }
        }
    }
}
