
﻿html, body, div, a, p, article, ul, li, header, nav, footer, img, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

@bg-color: #98d6ff;

.box {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
    text-align: center;

    #wrapper {
        margin: 30px auto;
        border: 1px solid black;
        position: relative;
        width: 480px;
        height: 600px;
        background-color: @bg-color;
        background-image: url("../imgs/background.png");
        font-family: sans-serif;

        section {
            display: none;

            &.current-section {
                display: block;
                width: 100%;
                height: 100%;


                ul {
                    background-color: @bg-color;
                    margin-top: 45%;
                    list-style-type: none;
                    width: 100%;

                    .browse-tab-content {
                        display: none;

                        &.current-browse-tab-content {
                            display: block;
                        }
                    }

                    li > span {
                        padding-top: 15px;
                        margin-left: 10%;
                        width: 80%;
                        height: 40px;
                        background: #3095d8;
                        border: 1px solid black;
                        border-radius: 30px;
                        -moz-transition: 0.4s;
                        -o-transition: 0.4s;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;

                        &:hover {
                            background: #52d041;
                            padding-top: 10px;
                            font-size: 30px;
                        }

                        display: block;
                        text-decoration: none;
                        color: white;
                        font-size: 25px;
                    }
                }

                #create-achievement-form {
                    background-color: @bg-color;
                    text-align: left;

                    h2 {
                        margin: 0;
                        text-align: center;
                        padding: 20px;
                    }

                    label {
                        font-weight: bold;
                        margin: 10px;
                        margin-left: 30px;
                        display: inline-block;
                        width: 150px;
                    }

                    input, select, textarea {
                        font-weight: bold;
                        border-radius: 10px;
                        background-color: rgb(242, 224, 17);
                        padding: 5px 10px;
                        width: 200px;

                        &:hover {
                            background-color: rgb(228, 211, 17);
                        }
                    }

                    textarea {
                        width: 200px;
                        height: 50px;
                    }

                    button {
                        margin-left: 180px;
                        margin-top: 20px;
                        border-radius: 10px;
                        background-color: rgb(17, 242, 63);
                        height: 40px;
                        font-weight: bold;
                        font-size: 20px;

                        &:hover {
                            background-color: rgb(9, 219, 52);
                        }
                    }
                }
            }
        }

        section#my-achievements-section {
            div#grid {
                overflow-y: auto;
                background-color: @bg-color;

                & > div {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .box();
                    box-sizing: border-box;
                    float: left;
                    width: 33.333%;
                    height: 150px;

                    img {
                        width: 158px;
                        height: 120px;
                    }

                    span {
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: #52d041;
                    }
                }
            }
        }

        section#browse-section, section#categories-section {
            div.browse-tab-content {
                overflow-x: auto;
                overflow-y: hidden;
                width: 75%;
                margin: 0 auto;
                div.browsed-achievements-container {
                    height: 180px;
                    width: 2160px;
                    color: white;

                    div.browsed-achievement {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border: 1px solid black;
                        float: left;
                        height: 180px;
                        padding: 5px;
                        width: 180px;

                        h4.browsed-achievement-title {
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            font-size: 25px;
                            width: 100%;
                            height: 130px;
                            padding-top: 40px;
                        }

                        p.browsed-achievement-author {
                            font-style: italic;
                            font-size: 15px;
                        }
                    }
                }


                div.travel {
                    background: rgb(239,231,0); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(239,231,0,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,231,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(239,231,0,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe700', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                    &:hover {
                        background: #52d041;
                    }
                }

                div.health {
                    background: rgb(0,219,0); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(0,219,0,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,219,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,219,0,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00db00', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                    &:hover {
                        background: #52d041;
                    }
                }

                div.sport {
                    background: rgb(0,46,255); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(0,46,255,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,46,255,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,46,255,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002eff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                    &:hover {
                        background: #52d041;
                    }
                }

                div.extreme {
                    background: rgb(224,0,138); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(224,0,138,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,0,138,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(224,0,138,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0008a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                    &:hover {
                        background: #52d041;
                    }
                }
            }
        }


        section#categories-section {
            #travel-tab-content div.browsed-achievements-container {
                width: 360px;
            }

            #sport-tab-content div.browsed-achievements-container {
                width: 360px;
            }

            #health-tab-content div.browsed-achievements-container {
                width: 720px;
            }
        }

        section#achievement-profile-section {

            div.achievement-profile-container {

                h3 {
                    font-size: 30px;
                    padding: 10px;
                }
                p{
                    font-style: italic;
                    font-weight:bold;
                    font-size:25px;
                }
                div {
                    text-align: left;
                    span.label {
                        font-weight:bold;
                        display: inline-block;
                        width: 120px;
                        margin:10px;
                        margin-left:120px;
                    }
                }
                button{
                    font-weight:bold;
                    background: #5bb9ff;
                     width:150px;
                     height:50px;
                     border-radius:15px;
                     &:hover{
                         font-size:17px;
                         background:#75c4ff
                     }
                }
                background: @bg-color;
            }
        }

        section#my-achievement-profile-section {
            background-color: @bg-color;

            div.achievement-profile-container {
                h3 {
                    font-size: 30px;
                    padding: 10px;
                }

                img {
                    &:first-of-type {
                        .box();
                        width: 90%;
                        height:280px;
                    }
                }
                 p.achievement-description{
                    font-style: italic;
                    font-weight:bold;
                    font-size:25px;
                }
                div {
                    text-align: left;
                    span.label {
                        font-weight:bold;
                        display: inline-block;
                        width: 120px;
                        margin:5px;
                        margin-left:120px;
                    }
                }

                img.share {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}
